// This is an example .env file. Copy this to .env and fill in the values.


// The email and password for the AD Courier account that will be used to add notes to candidates.
ADCOURIER_EMAIL=
ADCOURIER_PASSWORD=
