// This is an example .env file. Copy this to .env and fill in the values.

// The email and private key for the Google service account that will be used to access the Google Sheet.
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SHEET_ID=

// The email and password for the AD Courier account that will be used to add notes to candidates.
ADCOURIER_EMAIL=
ADCOURIER_PASSWORD=
